* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f3f3;
    color: #fff;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom:4rem;
}


.logo {
    width: 150px;
}
.pricing {
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 10px;
}
p{
    color: #000000;
}

.description {
    margin-bottom: 40px;
    color: #3b3b3b;
    font-size: 1rem;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.plan {
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    border-radius: 15px;
    padding: 20px;
    width: 280px;
    text-align: left;
    position: relative;
    transition: transform 0.3s ease;
}

.plan:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 15px;
}

.price {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ff003f;
    display: flex;
    align-items: baseline;
}

.dollar {
    font-size: 1.2rem;
    margin-right: 5px;
}

.duration {
    font-size: 0.9rem;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.features {
    margin: 20px 0;
    font-size: 0.9rem;
    line-height: 1.8;
}

.btn {
    display: block;
    background-color: #ff003f;
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e60035;
}
.btn {
    background-color: #ff003f;
}
@media (max-width: 768px) {
    .plans-container {
        flex-direction: column;
        align-items: center;
    }
}